.Button {
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  background-color: rgb(228, 148, 0);
  border: none;
  align-self: center;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: rgb(255, 169, 10);
    font-size: 19px;
  }
}
