.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: url("./imgs/background.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 20%;
}

.game {
  /* height: 50%; */
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
